/* Global
----------------------------------------------------------------------------- */

@font-face {
  font-family: 'Fira Sans';
  src: url("FiraSansOT-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url("FiraSansOT-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url("FiraSansOT-Bold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes scale-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scale-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

html {
  background: #000;
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
}

html,
body {
  /* Make sure the body covers the viewport. */
  height: 100%;
}

body {
  perspective: 100px;
}

/* Remove the gap between images, videos, audio and canvas and the bottom of
their containers: h5bp.com/i/440 */
audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/* Ugh. Doing this because <template> does not work. */
.template {
  display: none;
}

/* Utility
----------------------------------------------------------------------------- */

.ir {
  background-repeat: no-repeat;
  background-position: 0 0;
  display: block;
  text-indent: -999em;
}

.js-hide {
  display: none;
}

/* JS class for disabling CSS transitions while animating an element via CSS. */
.js-transition {
  transition: none !important;
}

/* System .sys-
----------------------------------------------------------------------------- */

.sys-screen {
  height: 480px;
  /* Disable scrollbars. */
  overflow: hidden;
  position: absolute;
  width: 320px;
}

/* Hot areas for swipes */
#sys-gesture-panel-bottom {
  border-radius: 50% 50% 0 0;
  bottom: 0;
  height: 35px;
  position: absolute;
  width: 100%;
  z-index: 601;
}

/* RocketBar .rb-
----------------------------------------------------------------------------- */

.rb-rocketbar {
  /* Preload background image without showing it */
  background: rgba(0, 0, 0, 0.5);
  height: 20px;
  left: 0;
  /* Contains absolute elements */
  position: absolute;
  width: 320px;
  transition: height 150ms linear;
  right: 0;
  top: 0;
  z-index: 500;
}

.rb-input {
  color: #fff;
}

.rb-min > .rb-input {
  background: url(rb-search-min.png) no-repeat 0 0;
  color: #ddd;
  font-size: 12.6px;
  padding-left: 22px;
}

/* Include .ir with the element. */
.rb-icons {
  background-image: url(rb-icons.png);
  background-size: auto 20px;
  height: 20px;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 200ms linear;
  width: 106px;
}

/* Launcher homescreen .hs-
----------------------------------------------------------------------------- */

.hs-homescreen {
  background-size: 320px;
  height: 480px;
  position: absolute;
  top: 0;
  width: 320px;
  z-index: 1;
}

/* .nc- Notification Center
----------------------------------------------------------------------------- */

/* The small nubbin that glows at the bottom */
.nc-tab {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 3px 3px 0 0;
  bottom: 0;
  height: 3px;
  left: 0;
  /* Required to horizontally center element */
  margin: auto;
  position: absolute;
  right: 0;
  width: 86px;
  z-index: 600;
}

@keyframes nc-tab-pulse {
  0% {
    border-radius: 3px 3px 0 0;
  }
  33% {
    background: #4bf3dc;
    width: 86px;
  }
  80% {
    background: #008eab;
    border-radius: 3px 3px 0 0;
    width: 86px;
  }
  100% {
    background: #008eab;
    border-radius: 0;
    width: 100%;
  }
}

/* Animation class for tab */
.nc-tab-pulse {
  animation-duration: 1500ms;
  animation-name: nc-tab-pulse;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes nc-slide {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-480px);
  }
}

.nc-drawer {
  background: #009cb8;
  color: #fff;
  height: 480px;
  left: 0;
  position: absolute;
  top: 480px;
  right: 0;
  z-index: 602;
}

.nc-drawer-open {
  /* Slide up/down after release */
  transform: translateY(-480px);
  transition: transform 280ms ease-out;
}

.nc-drawer-close {
  /* Slide up/down after release */
  transform: translateY(0);
  transition: transform 280ms ease-out;
}

.nc-drawer-header {
  background: #008eab url(toast-nc.png) 16px 10px no-repeat;
  font-size: 18.33px;
  height: 23px;
  line-height: 23px;
  padding: 12px 10px 10px 54px;
}

.nc-toaster {
  background: #008eab;
  top: 480px;
  /* Extra slush space to bounch toaster. */
  height: 60px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 601;
}

@keyframes nc-toaster-pop {
  0% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(-45px);
  }
}

.nc-toaster-pop {
  animation-duration: 800ms;
  animation-name: nc-toaster-pop;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  /* Wait for .nc-tab-pulse to finish animating. */
  animation-delay: 1500ms;
}

@keyframes nc-toaster-push {
  0% {
    transform: translateY(-45px);
  }
  100% {
    transform: translateY(0);
  }
}

.nc-toaster-push {
  animation-duration: 500ms;
  animation-name: nc-toaster-push;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes nc-toaster-bounce {
  0% {
    transform: translateY(-45px);
  }
  50% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(-45px);
  }
}

.nc-toaster-bounce {
  animation-duration: 200ms;
  animation-name: nc-toaster-bounce;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.nc-toast {
  background: #008eab;
  font-size: 13.75px;
  height: 23px;
  left: 0;
  line-height: 23px;
  /* Toasts start and end at opacity 0 */
  opacity: 0;
  padding: 12px 10px 10px 54px;
  position: absolute;
  right: 0;
}

.nc-toast-title {
  font-size: 18.33px;
}

.nc-toast-sms {
  background: #008eab url(toast-sms.png) 16px 10px no-repeat;
}

.nc-toast-nc {
  background: #008eab url(toast-nc.png) 16px 10px no-repeat;
}

/* 3s total */
@keyframes nc-fade-in-out {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.nc-toasted {
  animation-duration: 2000ms;
  animation-name: nc-fade-in-out;
  animation-iteration-count: 1;
}

/* msg- Individual notifications in center
----------------------------------------------------------------------------- */

.msg-message {
  background: #00aac5;
  border-bottom: 1px solid #1bb3cb;
  padding: 15px 15px 15px 55px;
}

.msg-sms {
  background: #00aac5 url(toast-sms.png) 16px 20px no-repeat;
}

.msg-phone {
  background: #00aac5 url(toast-phone.png) 16px 20px no-repeat;
}

.msg-facebook {
  background: #00aac5 url(toast-facebook.png) 16px 20px no-repeat;
}

.msg-pinterest {
  background: #00aac5 url(toast-pinterest.png) 16px 20px no-repeat;
}

.msg-new {
  background-color: #009cb8;
  border-bottom-color: #1ba7c0;
}

.msg-title {
  font-size: 18.33px;
  font-weight: normal;
  line-height: 20px;
  margin: 0;
}

.msg-content {
  color: rgba(255, 255, 255, 0.7);
  font-size: 13.75px;
  line-height: 20px;
  margin: 0;
}

.msg-time {
  color: rgba(255, 255, 255, 0.7);
  float: right;
  font-size: 13.75px;
  line-height: 20px;
}
